.login_user_card {
    height: 380px;
    width: 500px;
    margin-left: 35%;
    margin-top: 10%;
    margin-bottom: 50px;
    background:white;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.login_form-group{
    margin-top: 20px;
    margin-left: 20%;
}

.login_form_container {
    margin-top: 10px;
}

.login_header {
    height: 50px;
    background: #f77f00;
    text-align: center;
    margin-bottom: 30px;
}
.login_header h3{
    padding-top: 5px;
    font-size: 30px;
}

.login_btn {
    width: 25%;
    height: 50px;
    background: #f77f00!important;
    border: 1px solid #f77f00;
    color:black !important;
    border-radius: 25px ;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_input {
    margin: 10px 20px;
    float: right;
}
.login_links{
    margin-left: 50px;
}
.login_input-user-pass{
    font-size: 18px;
    height: 40px;
    width: 350px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 10px;
}
.login_input-user-pass:focus {
    border-radius: 5px;
    border: 2px solid black;
    // font-size: 20px;
    box-shadow: none !important;
    outline: 0px !important;
}

.login_custom-checkbox{
    margin-left: 70px;   
}
.login_custom-checkbox .login_custom-control-input:checked~.login_custom-control-label::before {
    margin-left: 100px;
    background-color: #c0392b !important;
}
.login_register{
    color: #f77f00;
}