.Nav-Items {
  background-color: rgb(255, 185, 34);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nav-Logo {
  color: #f2f2f2;
  justify-self: start;
}

.Nav-Home {
  height: 80px;
  background-color: #ddd;
  color: black;
}

.Nav-Home-Trans {
  height: 80px;
  color: #f2f2f2;
}

.Nav-Activities {
  height: 80px;
  background-color: #ddd;
  color: black;
}

.Nav-Activities-Trans {
  height: 80px;
  color: #f2f2f2;
}

.Nav-Items a {
  float: left;
  //color: #f2f2f2;
  text-align: center;
  padding: 30px 15px;
  text-decoration: none;
  font-size: 17px;
}

.Nav-Items a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 20px;
  transition: all 0.2s ease-out;
  height: 80px;
}

.Nav-Items a.active {
  background-color: #000000;
  color: white;
}

.Nav-Elements {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vh;
  justify-content: end;
}

.Nav-Logo-Flex {
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding: 10px 10px;
}

.Nav-Elements-Flex {
  width: 50%;
  display: flex;
  align-items: center;
}
