.Nav-Items-Div {
  position: fixed;
  width: 100%;
  margin-bottom: 10px;
  background: #f77f00;
  height: 80px;
  z-index: 4;
}

.Nav-Items {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nav-Logo-Img {
  //margin-top: 20px;
  width: 200px;
  //height: 40px;
}

.Nav-Logo {
  color: #000000;
  justify-self: start;
  margin-left: 5px;
}

.Nav-Home {
  height: 80px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
}

.Nav-Home-Trans {
  height: 80px;
  color: #000000;
}

.Nav-Activities {
  height: 80px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
}

.Nav-Activities-Trans {
  height: 80px;
  color: #000000;
}

.Nav-Items a {
  float: left;
  //color: #f2f2f2;
  text-align: center;
  padding: 30px 15px;
  text-decoration: none;
  font-size: 17px;
}

.Nav-Items a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  transition: all 0.2s ease-out;
  height: 80px;
  text-decoration: none;
  font-size: 17px;
}

.Nav-Items a.active {
  background-color: #000000;
  color: white;
}

.Nav-Elements {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 10px;
  list-style: none;
  text-align: center;
  //width: 60vh;
  justify-content: end;
}

.Nav-Logo-Flex {
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding: 10px 10px;
}

.Nav-Elements-Flex {
  width: 75%;
  display: flex;
  align-items: center;
}

.Nav-Profile-Flex {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

.Nav-Profile-Img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.Nav-Profile-Flex-Text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.Nav-Profile-Username {
  font-size: 16px;
}

.Nav-Profile-Logout {
  font-size: 12px;
}

.dropdown {
  float: left;
  overflow: hidden;
  z-index: 4;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  z-index: 4;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  z-index: 4;
}

.dropdown-content {
  //margin-right: 15px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  //min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  z-index: 4;
}

.dropdown-content a:hover {
  background-color:  #ddd;
  color: black;
  border-radius: 0px;
  transition: all 0.2s ease-out;
  height: auto;

  //background-color: #ddd;
  z-index: 4;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 4;
}

.Nav-Profile-Report {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

// @media all and (min-width: 992px) {
// 	.navbar .nav-item .dropdown-menu{ display: none; }
// 	.navbar .nav-item:hover .nav-link{ color: #fff;  }
// 	.navbar .nav-item:hover .dropdown-menu{ display: block; }
// 	.navbar .nav-item .dropdown-menu{ margin-top:0; }
// }