.post_user_card {
    height: auto;
    width:800px;
    margin-left: 25%;
    margin-top: 15%;
    margin-bottom: 50px;
    padding-bottom: 2%;
    background:white;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.status_input{
    height: 40px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: #D0D0D0;
}
.post_input_size{
    height: 40px;
    width: 300px;
    padding: 10px 20px;
    display: inline;
    // float: right;
}

.post_input_data{
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    margin-top: 0;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 5px;
}
.post_input_default{
    height: 40px;
    width: 500px;
}

.post_input_small{
    height: 40px;
    width: 10%;
}

.post_input_large{
    height: 100px;
    width: 500px;
}

.post_header {
    height: 70px;
    background: #f77f00;
    margin-bottom: 20px;
}
.post_header h3{
    padding-top: 10px;
    margin-left: 30px;
    font-size: 30px;
}
.post_input h2{
    font-size: 20px;
}
.column {
    float: right;
    width: 70%;
    padding: 10px;
  }
.column1 {
    float: left;
    width: 30%;
    padding: 10px;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.post_flex1{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    float: left;
}

#profile-pic {
    float: left;
    margin-right: 20px;
    /* If you want to crop the image to a certain size, use something like this */
    object-fit: cover;
    width: 100px;
    height: 100px;
  }

.one {
    width: 350px;
}
h4{
    margin: 0 10px;
}
h3{
    margin: auto 30px;
}