.Profile-Card-Div {
  margin-left: 35%;
  max-width: 375px;
  //background-color: rgb(184, 184, 184);
}

.Profile-Card-Nav {
  height: 30px;
  background-color: rgb(255, 185, 34);
}

.Profile-Card-Nav-Popular {
  font-size: 16px;
}

.Profile-Card {
  max-width: 375px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Profile-Card-Media {
  height: 10px;
}
