.Profile-Card-Div {
  margin-top: 20px;
  padding-left: 35px;
  //background-color: rgb(184, 184, 184);
}

.Profile-Card-Code {
  font-size: 20px;
  font-weight: bold;
}

.Profile-Card-Name {
  font-size: 16px;
}

.Profile-Card-Department {
  font-size: 16px;
}

.Profile-Page-Card {
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: #111111;
}
