// .Profile-Toggle-Div {
//   margin-left: 40%;
// }

.Profile-Toggle-Button-Menu {
  //background-color: #dddddd;
  margin-top: 80px;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  transition: 350ms;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
}

.Profile-Toggle-Button-Items {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.Profile-Toggle-Button-List {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Profile-Toggle-Button-Items label {
  float: left;
  color: #000000;
  text-align: center;
  padding: 10px 15px 15px 15px;
  font-size: 17px;
}

.Profile-Toggle-Button-Items label:hover {
  background-color: #ffaa0b;
  color: black;
  border-radius: 10px;
  transition: all 0.2s ease-out;
  height: 40px;
}

.Profile-Toggle-Button-MyPost {
  background-color: #ffaa0b;
  color: black;
  border-radius: 10px;
  height: 40px;
}

.Profile-Toggle-Button-Favorite {
  background-color: #ffaa0b;
  color: black;
  border-radius: 10px;
  height: 40px;
}

.Profile-Toggle-Button-History {
  background-color: #ffaa0b;
  color: black;
  border-radius: 10px;
  height: 40px;
}

.Profile-Toggle-Button-Trans {
  color: black;
  border-radius: 10px;
  height: 40px;
}

.Profile-Toggle-List {
  margin-left: 250px;
  margin-top: 48px;
}

.Profile-Toggle-Nav {
  //position: fixed;
  margin-top: 20px;
  height: 30px;
  width: 530px;
  border-radius: 10px;
  color: $dark-orange;
  
  //background: #d6d5d5;
}

.Profile-Toggle-Nav-Mypost {
  font-size: 25px;
  font-weight: bold;
  padding: 3px 10px;
  height: 30px;
  align-items: center;
  margin-top: 2px;
}

.Profile-Toggle-Nav-Favorite {
  font-size: 25px;
  font-weight: bold;
  padding: 3px 10px;
  height: 30px;
  align-items: center;
  margin-top: 2px;
}

.Profile-Toggle-Nav-History {
  font-size: 25px;
  font-weight: bold;
  padding: 3px 10px;
  height: 30px;
  align-items: center;
  margin-top: 2px;
}
