.register_user_card {
    height: 700px;
    width: 500px;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 50px;
    background:white;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.register_form-group{
    margin-left: 20%;
}

.register_form_container {
    margin-top: 10px;
}
.register_header {
    height: 50px;
    background: #f77f00;
    text-align: center;
    margin-bottom: 20px;
}
.register_header h3{
    padding-top: 5px;
    font-size: 30px;
}

.register_btn {
    width: 30%;
    height: 50px;
    background: #f77f00!important;
    color:black !important;
    font-weight: bold;
    font-size: 18px;
    border-radius: 25px ;
    border: 1px solid #f77f00;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.register_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.register_input {
    margin-top: 20px;
    margin-right: 40px;
    float: right;
}
.register_links{
    margin-top: 5px;
    margin-left: 50px;
}
.register_input_data{
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    height: 40px;
    width: 320px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 10px;
}
.register_input_data:focus {
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: none !important;
    outline: 0px !important;
}
.register_login{
    color: $dark-orange;
}

.register_row:after {
    content: "";
    display: table;
    clear: both;
  }
.register_column {
    float: left;
}
  
.register_left {
    margin-left: 20px;
    width: 25%;
}
  
.register_right {
    width: 75%;
}

